
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/logs
/allure-results/
/allure-report/
/logs
/reports
/logs
/reports
/logs
/reports
*.log
/reports
/reports
/logs
/logs
/logs
/reports
